	<div class="ToDo-Content">
    {{#each todo in model itemController='todo'}}
      {{#if todo.isEditing}}
        {{partial 'partials/edit-todo'}}
      {{else}}
		<div class="ToDoItem">
      {{input type="checkbox" checked=todo.completed class="ToDoItem-Check"}} &nbsp;&nbsp;
			<p class="ToDoItem-Text"> {{todo.model.task}} </p>
			<div {{action 'editTodo'}} href class="ToDoItem-Edit glyphicon glyphicon-pencil"></div>
			<div {{action 'removeTodo' todo}} href class="ToDoItem-Delete glyphicon glyphicon-remove"></div>
		</div>
      {{/if}}

    {{else}}
        <h4>No Tasks to do</h4>
    {{/each}}
	</div>
